/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

// use require-prior-idle-ms for combos
#undef COMBO_HOOK
#define COMBO_HOOK require-prior-idle-ms = <100>;

#define COMBO_TERM_FAST 30
#define COMBO_TERM_SLOW 80

/* Horizontal combos - left hand */
ZMK_COMBO(esc,   &kp ESC,       LM3 LM2,            DEF NAV NUM, COMBO_TERM_FAST)
ZMK_COMBO(tab,   &kp TAB,       LM2 LM1,            DEF NAV NUM, COMBO_TERM_FAST)

/* Horizontal combos - right hand */
ZMK_COMBO(enter,  &kp ENTER,     RM1 RM2,           DEF NAV NUM, COMBO_TERM_FAST)
ZMK_COMBO(bspc,   &kp BSPC,      RM2 RM3,           DEF NAV NUM, COMBO_TERM_FAST)
ZMK_COMBO(semi,   &kp SEMI,      RM3 RM4,           DEF     NUM, COMBO_TERM_FAST)

/* Vertical combos - left hand */
ZMK_COMBO(lbkt,  &kp LBKT,      LT3 LM3,            DEF NAV NUM, COMBO_TERM_SLOW)
ZMK_COMBO(lbrc,  &kp LBRC,      LT2 LM2,            DEF NAV NUM, COMBO_TERM_SLOW)
ZMK_COMBO(lpar,  &kp LPAR,      LT1 LM1,            DEF NAV NUM, COMBO_TERM_SLOW)
ZMK_COMBO(lt,    &kp LT,        LT0 LM0,            DEF NAV NUM, COMBO_TERM_SLOW)

/* Vertical combos - right hand */
ZMK_COMBO(gt,    &kp GT,        RT0 RM0,            DEF NAV NUM, COMBO_TERM_SLOW)
ZMK_COMBO(rpar,  &kp RPAR,      RT1 RM1,            DEF NAV NUM, COMBO_TERM_SLOW)
ZMK_COMBO(rbrc,  &kp RBRC,      RT2 RM2,            DEF NAV NUM, COMBO_TERM_SLOW)
ZMK_COMBO(rbkt,  &kp RBKT,      RT3 RM3,            DEF NAV NUM, COMBO_TERM_SLOW)

/* Horizontal combos - both hands */
ZMK_COMBO(rst,   &bootloader,  LT4 LT3 RT3 RT4,     DEF NAV NUM, COMBO_TERM_FAST)
