/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#include "./zmk-nodefree-config/helper.h"
#include "./zmk-nodefree-config/keypos_def/keypos_34keys.h"
#include "./base.keymap"

/ {
    chosen {
        zmk,matrix_transform = &transform_with_encoder;
    };
}

/* keymap */
ZMK_LAYER(default_layer, ALL_34_KEYS(_DEF)   &kp C_MUTE)
ZMK_LAYER(default_layer, ALL_34_KEYS(_NUM)   ___)
ZMK_LAYER(default_layer, ALL_34_KEYS(_NAV)   ___)
ZMK_LAYER(default_layer, ALL_34_KEYS(_FUN)   ___)
